<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Item Details</title>
   <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <body>
   <h3>Details</h3>

<div>
    <div>
  <p>Title: {{foundItem.title}}</p>
  <p>Category: {{foundItem.category}}</p>
  <p>Type: {{foundItem.type}}</p>
  <p>Size: {{foundItem.size}}</p>
  <p>Condition: {{foundItem.condition}}</p>
  <p>Location: {{foundItem.location}}</p>
  {{#if foundItem.picture}}
    <img src="{{foundItem.picture}}" alt="{{foundItem.title}} Picture">
  {{/if}}
    {{#if isLoggedIn}}
  <p>Email: {{foundItem.email}}</p>
  <p>Phone: {{foundItem.phone}}</p>
   {{/if}}
</div>

   <script src="/js/script.js"></script>
</body>
</html>