<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Your Profile Details</title>
   <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

<h1>My donations</h1>

<ul>
  {{#each item}}
    <li> 
        <a href="/connect/mydonations/{{_id}}">
        <h4>{{this.title}}</h4>
        </a>
        
        <a href="/connect/mydonations/{{_id}}">
        <img src="{{this.picture}}" alt="{{this.picture}} Item">
        </a>
     
         
    </li>
  {{/each}}
</ul>

     <script src="/js/script.js"></script>

</body>

</html>