<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Your Profile Details</title>
   <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

   <h1>Profile</h1>

   {{#if foundUser}}
   <h1>Welcome {{foundUser.username}}! 😊</h1>
   <h2>Your Profile Details</h2>

   <div>
      <a href="/connect/profile/edit">Edit Profile</a>
      <form method="POST" action="/connect/profile/delete">
         <button type="submit" onclick="return confirm('Are you sure you want to delete your profile?')">Delete Profile</button>
      </form>
      <p>Email: {{foundUser.email}}</p>
      <p>Username: {{foundUser.username}}</p>
   </div>



{{!-- Users comments section bellow --}}
   <h2>Reviews from other users:</h2>
   {{#if foundUser.reviews}}
      {{#each foundUser.reviews}}
         <div class="review">
            <h3>Reviewer: {{this.reviewer}}</h3>
            <p>{{this.content}}</p>
            <p>Timestamp: {{this.timestamp}}</p>
         </div>
      {{/each}}
   {{else}}
      <p>No reviews yet.</p>
   {{/if}}



   {{else}}
   <p>Please log in to view your profile.</p>
   {{/if}}

   <script src="/js/script.js"></script>

</body>

</html>